<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_fish_farm_root" name="Fish Farm Management" sequence="10"/>
    
    <menuitem id="menu_fish_farm_dashboard" name="Dashboard" parent="menu_fish_farm_root" action="action_fish_farm_dashboard" sequence="5"/>
    
    <menuitem id="menu_fish_farm_operations" name="Operations" parent="menu_fish_farm_root" sequence="10"/>
    <menuitem id="menu_fish_farms" name="Farms" parent="menu_fish_farm_operations" action="action_fish_farm" sequence="10"/>
    <menuitem id="menu_fish_ponds" name="Ponds" parent="menu_fish_farm_operations" action="action_fish_pond" sequence="20"/>
    <menuitem id="menu_breeding_cycles" name="Breeding Cycles" parent="menu_fish_farm_operations" action="action_breeding_cycle" sequence="30"/>
    
    <menuitem id="menu_fish_farm_harvest" name="Harvesting" parent="menu_fish_farm_root" sequence="20"/>
    <menuitem id="menu_harvests" name="Harvests" parent="menu_fish_farm_harvest" action="action_fish_harvest" sequence="10"/>
    
    <menuitem id="menu_fish_farm_costs" name="Costs" parent="menu_fish_farm_root" sequence="30"/>
    <menuitem id="menu_cost_distribution" name="Cost Distribution" parent="menu_fish_farm_costs" action="action_cost_distribution" sequence="10"/>
</odoo>