[MASTER]
init-hook='import sys; sys.path.append("/path/to/odoo/addons");'
load-plugins=pylint_odoo

[MESSAGES CONTROL]
disable=
    import-error,
    missing-final-newline,
    trailing-whitespace,
    line-too-long,
    missing-module-docstring,
    duplicate-code

[FORMAT]
max-line-length=100

[REPORTS]
reports=no
